*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}
ul{
    list-style: none;
}


.kirish{
    padding: 24px 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(167, 159, 159);
}
.container11{
    border: none;
    border-radius: 10px;
    width: 500px;
    background-color: white;
    height: 680px;
    max-width: 1200px;
    margin: 0 auto;
}
.container12{
    max-width: 400px;
    margin: 30px auto;
}
.section11{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.orqali_kirish button{
    width: 400px;
    border-radius: 10px;
    border: 4px solid rgb(8, 13, 57);
    padding: 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.orqali_kirish button:hover{
    /* border: 3px solid rgb(8, 13, 57); */
    transform: scale(1.01);
}
.orqali_kirish .logo{
    font-size: 20px;
    color: #122060;
}
.orqali_kirish .xabar{
    font-size: 22px;
    font-weight: 700;
    color:#141e49;
}

.section21{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 400px;
}
.chiziq{
    background-color: grey;
    height: 2px;
    width: 162px;
}
.tugma{
    margin-top: 30px;
}
.section31{
    display: flex;
    justify-content: center;
}
.button1{
    width: 195px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    background-color: #fff;
    border-bottom: 5px solid rgb(19, 16, 16);
    cursor: pointer;

}
.button1 a{
    text-decoration: none;
    color: black;
}

.otish .button2{
    width: 195px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    background-color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.button1:hover{
    transform: scale(1.05);
}
.button2:hover{
    transform: scale(1.05);
}
span{
    font-size: 18px;
    font-weight: 600;
}
.section41{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}


.elektr input{
    margin-top: 5px;
    padding: 10px 10px;
    width: 100%;
    outline: none;
    background-color: rgba(185, 185, 185, 0.703);
    cursor: pointer;
    color: black;
    border: 2px solid gainsboro;
}

.elektr input:focus{
    border-bottom: 2px solid black;
}

.elektr label{
    font-size: 18px;
    font-weight: 600;
}

.esla{
    margin-top: 30px;

}
.esla a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.esla a:hover{
    color: rgb(83, 81, 81);
}

.tizim_k{
    margin-top: 40px;
    
}
.tizim_k button{
    width: 100%;
    padding: 10px 0px;
    background-color: #202f2b;
    border: none;
    border-radius: 5px;
    color: white;
}
.tizim_k button:hover{
    background-color: white;
    border: 4px solid #202f2b;
    color: #202f2b;
}

