@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}
ul{
    list-style: none;
}

.menyu .container{
    display: flex;
    /* justify-content:center; */
    gap: 320px;

}
.menyu{
    display: flex;
    background-color: #154224;
    justify-content: space-between;
    /* padding: 20px 0px; */
    /* width: 1200px; */
    position: fixed;
    z-index: 99;
    top: 0px;
    padding: 20px 10px;
    background-size: 100%;
    width: 100%;
}
.logos{
    display: flex;
    align-items: center;
    gap: 10px;
    animation: logo 2s linear infinite;
    font-family: "Bebas Neue", sans-serif;
    /* color: white; */
}
.logos p{
    font-size: 24px;
}
.logos h1{
    letter-spacing: 4px;
}

@keyframes logo {
    0%{
        transform: rotateY(0deg);
        color: rgb(159, 159, 63);
    }
    50%{
        transform: rotateY(180deg);
        color: rgb(159, 159, 39);
    }
    100%{
        transform: rotateY(360deg);
        color: rgb(157, 160, 63);
    }
} 

.links{
    list-style-type: none;
    font-size: 20px;
    display: flex;
    gap: 40px;
    padding: 10px;
}
.links li{
   transition: all .3s ease;
}

.links li:hover{
    transform: scale(1.1);

}
.links a{
    text-decoration: none;
    color: white;
}
.links a:hover{
    color: yellow;
}
.section1{
    margin-top: 80px;
}
.axborot{
    padding-top: 150px;
    padding-bottom: 600px;
}

.axborot h1 {
    text-shadow: 2px 1px 1px;
    font-size: 36px;
    color: rgb(16, 78, 78);
    text-align: center;
    padding-bottom: 50px;

}
.axborot h3 {
    text-shadow: 1px 1px 1px;
    font-size: 16px;
    color: rgb(18, 75, 75);
    text-align: center;

}
.section1{
    background-image: url(../img/main.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}
.city img{
    width: 100%;
}
.information{
    /* background-color: #b2cfd7; */
}
.information h2{
    /* text-align: center;
    font-size: 24px;
    color: #154224;
    font-weight: 700px;
    margin: 10px; */
}
.information p{
    /* text-align: center;
    font-weight: 400px;
    font-size: 18px;
    color: hsl(140, 52%, 17%);
    margin:10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px; */
}
.elon{
    font-weight: 700px;
    font-size: 18px;
    color: #154224;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 40px;
    text-shadow: 1px 1px 2px ;
}
.bottom{
    position: relative;
    margin: 2px;
    width: 200px;
}
.bottom a img{
    width: 100%;
}
.top{
    position: absolute;
    bottom: 3px;
    left: 0;
   
}
.top button{
    padding: 2px 10px;
    background-color: #20e7f1;
    border-radius: 3px;
    border:none;
}
.qidiruv{
    padding-top: 30px;
    background-color: #fbf3f3;
}


.qidiruv .container{
    background-color: white;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    border:  1px solid grey;
    border-radius: 5px;
    margin-top: 30px;
}
.inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.select select{
    font-size: 24px;
    padding: 6px 30px;
    border-radius: 5px;
}
select:hover{
    transform: scale(1.05);
}
select{
    transition: .2s ease; 
}
.turar-joy input{
    padding: 10px 20px;
    width: 450px;
    border-radius: 5px;
    font-size: 16px;
}
input:hover{
    transform: scale(1.05);
}
input{
    transition: .2s ease;
}
.yangi{
    font-size: 20px;
    margin-bottom: 10px;

}
.xaritada{
    text-align: end;
    margin-bottom: 10px;
}
.xaritada button:hover{
    transform:scale(1.1);
}
.xaritada button{
    transition: all .3s ease;
}
.narx input{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}
.inputs button{
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: yellow;
    
}
.inputs button:hover{
    transform: scale(1.05);
}
.inputs button{
    transition: .2s ease;
}
.xaritada button{
    padding: 4px;
    border: 1px solid grey;
    border-radius: 50px;
    font-size: 14px;
}
.section2{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fbf3f3;
    padding: 60px 0px;
    
}
.imgs{
    gap: 10px;
    display: flex;
    border-radius: 4px;
    width: 1200px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 2px 10px rgb(167, 163, 163);

}
.imgs:hover{
    box-shadow: 0px 6px 20px grey;

}
.rasm{
    width: 200px;
}
.rasm img{
    width: 100%;
    height: 150px;
    object-fit:cover;
    border-radius: 3px;

}
.box{
    width: 980px;
    display: flex;
    justify-content: space-between;
}

.catagoriya .p1{
    font-size: 20px;
        
    margin-top: 5px;
}
.catagoriya .p2{
   font-weight: normal;
   margin-top: 100px;
}
.icon{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    width: 230px;
    text-align: right;
}
.sum{
    margin-bottom: 110px;
}
.heart{
    width: 100px;
    display: flex;
    align-items: center;
    margin: 0 130px;
    position: relative;
    overflow: hidden;
}

.regular{
    margin-left: 80px;
}
.heart:hover .kuzat{
   left: 15px;
}
.heart .kuzat{
    left: -100px;
    position: absolute;
    transition: all .3s ease;
}
.sectionend{
    background-color: rgb(241, 237, 237);
 padding: 60px 0px;
}

.ishlabChiquvchilar h1{
    font-weight: 500;
    font-size: 26px ;
    padding: 10px 0px;   
    text-align: left; 
}
.ishlabChiquvchilar{
    width: 580px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    border: 1px solid rgb(208, 208, 208);
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}
.box1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.group{
    display: flex;
    gap: 50px;
    align-items: center;
}
.rasmlar{
    width: 90px; 
}
.rasmlar img{
    height: 70px;
    border: 1px solid rgb(209, 209, 209);
}
.nomlar h3{
    padding-bottom: 5px;
    font-size: 16px;
}

.nomlar h2{
    font-weight: 600;
    font-size: 12px;
    
   
}
.nomlar p{
    font-size: 14px;
    font-weight: 300;
    color: gray;
}
.container1{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 3px;
    justify-content: space-between;
}
.xarita{
    text-align: center;
    width: 600px;
    border: 1px solid grey;    
    background-image: url(../img/map.webp);
    border-radius: 5px;
    padding: 50px 0px;
}
.location{
    font-size: 60px;
    text-align: center;
    
}
.mapInformation{
    padding: 20px 0px;
}
.mapInformation h1{
    margin-bottom: 15px;
}
.qidirish button{
    padding: 7px 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(221, 221, 57);
    border: none;
    border-radius: 10px;
}
.qidirish button:hover{
    background-color:rgb(176, 176, 21) ;
    transform: scale(1.1);
}
footer{
    width: 100%;
    background-color: #154224;
}
.footer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.tel{
    padding: 15px 20px;
}
.tel h2{
    padding-bottom: 10px;
    color: white;
}
.tel h3{
    padding-bottom: 10px;
    font-size: 18px;
    color: white;
    margin: 5px;
}
.tel button{
    border: none;
    margin-top: 10px;
    padding: 8px 30px;
    border-radius: 10px;
    color: black;
    background-color: white;
    
}
.tel button:hover{
    background-color:yellow;
    transform: scale(1.1);
}
.network{
    /* width: 400px; */
    text-align: center;
}
.network a{
    text-decoration: none;
}
.logotip{
    display: flex;
    gap: 10px;
    padding-right: 20px;
    align-items: center;
    font-size: 30px;
    color: yellow;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 4px;
}



.logotip i{
    font-size: 44px;
}
.tarmoq a{
    /* width: 400px; */
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 7px;
    font-size: 18px;
    color: white;
}
.tarmoq i{
    font-size: 18px;
}
.tarmoq a:hover{
    color: yellow;
}



